APP_ENV=development
APP_DEFAULT_NETWORK=testnet
NEXT_PUBLIC_APP_URL=http://localhost:3000

PRESTOCKS_API_URL=https://prestocks.com/api/prestocks

JUPITER_API_BASE=https://api.jup.ag
JUPITER_API_KEY=
READONLY_TAKER_WALLET=

SOLANA_MAINNET_RPC_URL=
SOLANA_DEVNET_RPC_URL=

DATABASE_URL=

SENTRY_DSN=
